<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>YOME</display-name>
	<description>嫁レシピ</description>
	<servlet>
		<servlet-name>Action</servlet-name>
		<servlet-class>yang.framework.servlet.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Action</servlet-name>
		<url-pattern>/Action/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>jp.co.yomerecipe.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/indexpage</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
  		<welcome-file>indexpage</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>autoload</servlet-name>
		<servlet-class>yang.framework.servlet.AutoloadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

		<servlet-mapping>
		<servlet-name>autoload</servlet-name>
		<url-pattern>/autoload</url-pattern>
	</servlet-mapping>

	<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/PageNotFound.jsp</location>
	</error-page>

	<resource-ref>
		<description>共通設定</description>
		<res-ref-name>jdbc/yome</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>